@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background-color: #fff3e6;
}
table {
    background-color:grey;
    color: white;
    margin-top:   50px;
    margin-bottom: 100px;
    border: 3px solid black;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;

}

tr td  {
    border: 3px solid black;
    border-collapse: collapse;
    color:turquoise;
    padding: 10px;
    border:2px , 2px ,  2px , 2px

}

header{
    position: relative;
}
h1 {
    font-family: 'Roboto', sans-serif
}

a{
    background-color: white;
    color:black;
    font-family: 'Roboto', sans-serif;
}
header img {
    position: relative;
    height: 100px;
    margin-left: 1100px;
    margin-bottom: 20px ;
   
}
nav ul li {
    position: relative;
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: cadetblue;
    font-family: 'Roboto', sans-serif;
    


}

main ul li {
    display: inline;
    padding: 10px;
    border:3px solid black;
    background-color:darkturquoise;
    color: blue;
    font-family: 'Roboto', sans-serif;
}
/* form {
    border: 3px solid black;
} */
fieldset {
    background-color:gray;
  }
legend {
    background-color: gray;
    color: #09015f;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
  }
  input {
    margin: 5px;
    color: #09015f;
    font-family: 'Roboto', sans-serif;
  }


  label{
      color: #c70039;
  }
